<h2>Welcome to <em style="color:red;">{{item}}</em> </h2>

<tr>
    <th><i>Author: </i></th>
    <th>{{book_data.author}}</th>
</tr><br><br>
<tr>
    <th><i>Year: </i></th>
    <th>{{book_data.year}}</th>
</tr><br><br>
<tr>
    <th><i>Coyyright: </i></th>
     <th>{{book_data.copyright}}</th>
</tr><br><br>
<tr>
    <th><i>Description: </i></th>
    <th>{{book_data.description}}</th>
</tr>
<tr>
    <th><i>Description: </i></th>
    <th>{{book_data.description}}</th>
</tr>

<br><br><br><br>

<b>Homepage: </b> 
<li><a href='/'>Return Home</a></li>

